.divCancion{
    display: flex; 
    width: 15%;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
    background-color: #4e73df;
    border-radius: 10px;
    margin-top: 1vh;
    border: 3px solid black
}
img{
    border: 3px solid black;
}
.descripcionOculta{
    display: none;
}
p{
    margin:0;
}
.foto{
    max-width: 15vw;
}
.textoCancion{
    margin-bottom: 10px;
    text-align: center;
}
.botonVerMas{
    background-color: white;
    border-radius: 6px;
    border: none;
    padding: 3px 5px;
    transition: all 0.15s ease-in;
    cursor: pointer;
}

.botonVerMas:hover{
    background-color: grey;
}
@media (max-width: 420px) {
    .divCancion{
        display: flex; 
        width: 30%;
        flex-direction: column;
        align-items: center;
        padding: 5px 10px;
        background-color: #4e73df;
        border-radius: 10px;
        margin-top: 1vh;
        border: 3px solid black
    }
}