.divPelicula{
    display: flex; 
    width: 15%;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
    background-color: #4e73df;
    border-radius: 10px;
    margin-top: 1vh;
    border: 3px solid black
}
img{
    border: 3px solid black;
}
.descripcionOculta{
    display: none;
}
p{
    margin:0;
}
.foto{
    max-width: 10vw;
}
